Django==6.0.8
PyMySQL==1.2.3
gunicorn==23.0.0
whitenoise==6.12.0
Pillow==12.3.0
python-dotenv==1.2.3
boto3==1.43.104
requests==2.34.2
django-allauth[mfa]==65.19.5
cryptography==50.0.1
redis==8.1.0
django-storages[s3]==1.14.6
dnspython==2.8.0
reportlab==4.4.10
