{% if request.GET.person %}<input type="hidden" name="person" value="{{ request.GET.person }}">{% endif %}
{% if request.GET.site %}<input type="hidden" name="site" value="{{ request.GET.site }}">{% endif %}
{% if request.GET.start %}<input type="hidden" name="start" value="{{ request.GET.start }}">{% endif %}
{% if request.GET.end %}<input type="hidden" name="end" value="{{ request.GET.end }}">{% endif %}
{% if request.GET.view %}<input type="hidden" name="view" value="{{ request.GET.view }}">{% endif %}
{% if request.GET.week %}<input type="hidden" name="week" value="{{ request.GET.week }}">{% endif %}
